/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

/*obecně*/
body{
	margin: 0;
	color: #242424;
	line-height: 1.5;
	font-family: lora;
	font-size: 18px;
}
img{
	border-radius: 5px;
}

.box{
	max-width: 1100px;
	margin: 0 auto;
	padding: 30px;
}
section{
	padding-top: 80px;
	padding-bottom: 80px;
}
header,
footer{
	padding-top: 30px;
	padding-bottom: 30px;
}
.white{
	background-color: white;
}
.blue{
	background-color: rgb(151, 204, 204);
}
.grey{
	background-color:#f0f0f0 ;
}
.black{
	background-color: #303339;
}
.cupcake{
	background-image: url(images/cupcake.jpg);
	background-size: cover;
}
h1,
h2,
h3{
	font-family: playfair display;
	line-height: 1.25;
}
h1{
	font-size: 52px;
	color: white;
}
h2{
	font-size: 36px;
	color: #3e606b;
}
h3{
	color: #3e606b;
}
.right{
	margin-left: 30px;
}
/*menu*/
.logo img{
	width: 170px;
}
.menu{
	display: flex;
	list-style-type: none;
	padding: 0;
}
.one{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu a{
	text-decoration: none;
	border-radius: 20px;
	padding: 10px 15px;
	color: #242424;
}
.menu a:hover{
	background-color: #f195b2;
	color: white;
}
/*hero*/
.two{
	padding: 30px 0px;
}
.two p{
	color:white;
	font-size: 24px;
	padding-right: 40%;
}
/*blue vítejte*/
.three{
	display: flex;
	background-color: white;
	padding: 0;
	align-items: center;
}
.three .left{
	padding-left: 10px;
}
.three a{
	background: #f195b2;
	color: white;
	padding: 15px 40px;
	border-radius: 30px;
	text-decoration: none;
}
.three a:hover{
	background-color: #d2567d;
	color: white;
}
/*grey - dnešní nabídka*/
.offer{
	display: flex;
}
.product{
	background-color: white;
	margin-right: 30px;
}
.product img{
	width: 245px;
}
.four{
	padding-left: 0;
}
.product p, h3{
	padding: 0 20px;
}
/*white - přístup k pečení*/
.five{
	display: flex;
	align-items: center;
	padding-left: 0;
}
/*patička*/
.six{
	color: white;
	text-align: center;
}